{% extends "questionnaire/base.html" %}

{% load bootstrap4 %}

{% block body_content %}
<div class="container main-body">

  <div class="questionnaire-main">
    <h1 class="questionnaire-heading">Simple Questionnaire</h1>
      <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
      </form>
  </div>
</div>
{% endblock %}
