{% extends "questionnaire/base.html" %}

{% block body_content %}
<div class="container main-body">

  <div class="results-main">
    <h1 class="results-heading">Simple Questionnaire</h1>
    <p>
      These are the results for the inane questionnaire.
    </p>
    <p>
      <a href="/" class="btn btn-primary">back to index</a>
    </p>
    <h2>Results</h2>
    <h3>Months</h3>
    <ul>
      {% for month, count, percent in months %}
        <li>{{ month }}: {{ count }} ({{ percent }})</li>
      {% endfor %}
    </ul>
    <h3>Days</h3>
    <ul>
      {% for day, count, percent in days %}
        <li>{{ day }}: {{ count }} ({{ percent }})</li>
      {% endfor %}
    </ul>
    <h3>Fav day related to month</h3>
    <ul>
      {% for month, day in relations %}
        <li>{{ month }}: {{ day }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
